<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>About</title>
    <link rel="icon" href="favicon.ico" />
    <meta name="title" content="" />
    <meta name="description" content="" />

    <!-- meta facebook -->
    <meta property="og:locale" content="vi" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:image" content="" />

    <link rel="stylesheet" href="dest/style.min.css" />
    <link rel="stylesheet" href="css/backdoor.css" />
    <link rel="stylesheet" href="dest/fonts.css" />
  </head>

  <body class="about-page">
    <!-- HEADER -->
    <header class="header flex-center">
      <div class="container-fluid">
        <div class="header-wrap flex-center-between">
          <div class="header-toggle toggle-menu">
            <div class="ham bg-white flex-center flex-column">
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="header-main-wrap container">
            <div class="header-main flex ai-center">
              <div class="header-logo">
                <div class="logo-box">
                  <a href="" title="Logo CodingMentor">
                    <img src="./img/logo.png" alt="" />
                  </a>
                </div>
              </div>
              <div class="header-menu">
                <nav class="menu">
                  <ul class="menu-list">
                    <li class="menu-item parent dropdown current-menu-item">
                      <a href="" class="menu-link" title="COURSES"
                        >COURSES

                        <span class="dropdown-icon">
                          <iconify-icon
                            icon="charm:chevron-down"
                          ></iconify-icon>
                        </span>
                      </a>
                      <ul class="submenu">
                        <li class="submenu-item menu-item">
                          <a href="" class="menu-link" title="COURSES 2"
                            >COURSES 2</a
                          >
                        </li>
                        <li class="submenu-item menu-item parent dropdown">
                          <a href="" class="menu-link" title="COURSES 1"
                            >COURSES 1
                            <span class="dropdown-icon">
                              <iconify-icon
                                icon="charm:chevron-down"
                              ></iconify-icon> </span
                          ></a>
                          <ul class="submenu">
                            <li class="submenu-item menu-item">
                              <a href="" class="menu-link" title="COURSES 1"
                                >COURSES 1 ></a
                              >
                            </li>
                            <li class="submenu-item menu-item">
                              <a href="" class="menu-link" title="COURSES 2"
                                >COURSES 2</a
                              >
                            </li>
                            <li class="submenu-item menu-item">
                              <a href="" class="menu-link" title="COURSES 3"
                                >COURSES 3</a
                              >
                            </li>
                          </ul>
                        </li>

                        <li class="submenu-item menu-item">
                          <a href="" class="menu-link" title="COURSES 3"
                            >COURSES 3</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item">
                      <a href="" class="menu-link" title="EVENTS">EVENTS</a>
                    </li>
                    <li class="menu-item">
                      <a href="" class="menu-link" title="BLOG">BLOG</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="header-cta">
                <a href="" class="btn-main btn-signin" title="Sign In"
                  >Sign In</a
                >
              </div>
            </div>
          </div>
          <div class="header-lang">
            <div class="lang">
              <div class="lang-current toggle-lang">
                <a href="" class="lang-item flex ai-center">
                  <span class="lang-img"
                    ><img src="./img/flag-vn.jpg" alt=""
                  /></span>
                </a>
              </div>
              <div class="lang-dropdown toggle-lang-list">
                <div class="lang-close close-square close-lang-js">
                  <div class="close">
                    <span></span>
                    <span></span>
                  </div>
                </div>
                <div class="lang-list">
                  <a href="" class="lang-item flex ai-center">
                    <span class="lang-img"
                      ><img src="./img/flag-vn.jpg" alt=""
                    /></span>
                    <span class="lang-text">Vietnamese</span>
                  </a>
                  <a href="" class="lang-item flex ai-center">
                    <span class="lang-img"
                      ><img src="./img/flag-usa.jpg" alt=""
                    /></span>
                    <span class="lang-text">English</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- SIDE BOX -->
    <div class="sidebox nav-side">
      <div class="sidebox-wrap">
        <div class="container">
          <div class="sidebox-row row jc-between">
            <div class="col-6-md">
              <nav class="sidebox-nav bg-white">
                <div class="sidebox-nav__header">
                  <div class="close-square close-menu">
                    <div class="close">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                </div>
                <div class="sidebox-nav__content">
                  <div class="row">
                    <div class="col-wrap col-6-xs">
                      <div class="sidebox-nav__menu">
                        <div class="menu-main menu">
                          <ul class="menu-main__list menu-list">
                            <li
                              class="menu-main__item menu-item current-menu-item parent dropdown"
                            >
                              <a href="" class="menu-main__link menu-link"
                                >Courses
                                <span class="dropdown-icon expand-icon">
                                  <iconify-icon
                                    icon="entypo:chevron-down"
                                  ></iconify-icon>
                                </span>
                              </a>
                              <ul class="submenu">
                                <li class="menu-item">
                                  <a href="" class="menu-link submenu-link"
                                    >Courses1</a
                                  >
                                </li>
                                <li class="menu-item">
                                  <a href="" class="menu-link submenu-link"
                                    >Courses2</a
                                  >
                                </li>
                                <li class="menu-item">
                                  <a href="" class="menu-link submenu-link"
                                    >Courses2</a
                                  >
                                </li>
                              </ul>
                            </li>
                            <li class="menu-main__item menu-item">
                              <a href="" class="menu-main__link menu-link"
                                >Event</a
                              >
                            </li>
                            <li class="menu-main__item menu-item">
                              <a href="" class="menu-main__link menu-link"
                                >Blogs</a
                              >
                            </li>
                          </ul>
                        </div>
                        <div class="menu-sub menu">
                          <ul class="menu-sub__list menu-list">
                            <li class="menu-sub__item menu-item">
                              <a href="" class="menu-sub__link menu-link"
                                >Homepage</a
                              >
                            </li>
                            <li class="menu-sub__item menu-item">
                              <a href="" class="menu-sub__link menu-link"
                                >About Coding Mentor</a
                              >
                            </li>
                            <li class="menu-sub__item menu-item">
                              <a href="" class="menu-sub__link menu-link"
                                >Our Mentor</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-wrap col-6-xs">
                      <div class="sidebox-nav__img">
                        <img src="./img/man-like.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
            <div class="col-4-lg col-5-md offset-1-md">
              <div class="sidebox-acc">
                <div class="sidebox-acc__header flex ai-center jc-end">
                  <div class="icon">
                    <img src="./img/star.png" alt="" />
                  </div>
                  <div class="title h5 f-mb">Feature Mentor</div>
                </div>
                <div class="sidebox-acc__content">
                  <div class="sidebox-acc__card">
                    <figure class="card-box">
                      <div class="card-box__thumb">
                        <div class="img-inner">
                          <a href="">
                            <img src="./img/avatar-8.jpg" alt="" />
                          </a>
                        </div>
                      </div>
                      <figcaption class="card-box__content">
                        <div class="name"><a href="">Luân Nguyễn</a></div>
                        <div class="meta">Designer and coder</div>
                        <p class="desc">
                          I teach designers code and developers design.
                        </p>
                        <div class="social">
                          <a href="" class="social-link">
                            <img src="./img/logo-fb.png" alt="" />
                          </a>
                          <a href="" class="social-link">
                            <img src="./img/logo-web.png" alt="" />
                          </a>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <div class="sidebox-acc__footer">
                  <div class="sidebox-acc__course">
                    <div class="course-box">
                      <div class="course-box__header">
                        <a href="" class="course-box__logo">
                          <img src="./img/logo-vue.png" alt="" />
                        </a>
                        <div class="course-box__content">
                          <div class="course-box__title h5 f-bold">
                            <p class="title">
                              <a href="">Backend Intensive</a>
                            </p>
                          </div>
                          <div class="mentor">Mentor: Mr.X</div>
                        </div>
                      </div>
                      <div class="course-box__button">
                        <a href="" class="btn-main">Get Started for Free</a>
                        <div class="enrolled">
                          <p>20/30 enrolled</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MAIN -->
    <main class="about-page">
      <!-- BANNER ABOUT -->
      <section class="banner-about">
        <div class="banner-about-bg">
          <img src="./img/banner-about.jpg" alt="" />
        </div>
        <div class="container">
          <div class="banner-about-row row">
            <div class="col-content">
              <div class="banner-about__content">
                <div class="textbox p-6">
                  <h1 class="title h2 heading text-gradient text-ani">
                    We are Coding Mentor
                  </h1>
                  <p class="desc mt-4">
                    Learn 1-on-1 with a Mentor. The course for absolute
                    beginners. 7-day money-back guarantee.
                  </p>
                  <div class="list-wrap mt-6">
                    <ul class="list">
                      <li class="li">
                        Award-winning curriculum and expert instructors, on
                        campus and online.
                      </li>
                      <li class="li">
                        A global, professional community of 40,000-plus full-
                        and part-time alumni.
                      </li>
                      <li class="li">
                        Career results from leading-edge courses, with
                        mentorship each step of the way.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="banner-about__img">
          <div class="img-wrap">
            <img src="./img/man-and-girl-4.png" alt="" class="img-main" />
            <img src="./img/polygon-target.png" alt="" class="img-polygon" />
          </div>
        </div>
      </section>

      <!-- ABOUT -->
      <section class="about py-sc">
        <div class="container">
          <section class="about-single">
            <div class="about-content">
              <div class="about-content__head">
                <h2 class="about-content__title h4 f-bold">
                  What Makes Coding Mentor Exceptional?
                </h2>
              </div>
              <div class="about-content__list mt-10">
                <div class="about-content__item">
                  <div class="item">
                    <h3 class="item-title h5 f-bold">
                      We Offer Training in Tech, Data, Design, Business, and
                      More
                    </h3>
                    <p class="item-desc">
                      Today’s complex, global economy requires a skilled
                      workforce that can leverage technology to fuel success.
                      General Assembly’s robust suite of courses includes all
                      the fundamental pillars of innovation to give individuals
                      and teams several options for growth and development. We
                      offer programs in web development, data science and
                      analysis, user experience design, digital marketing,
                      product management, and more. Students can choose from a
                      range of formats and modalities to help them best achieve
                      their goals, including full-time, part-time, and
                      short-form options — on campus, and online.
                    </p>
                  </div>
                </div>
                <div class="about-content__item">
                  <div class="item">
                    <h3 class="item-title h5 f-bold">
                      We Have a Vast Global Network
                    </h3>
                    <p class="item-desc">
                      Today’s complex, global economy requires a skilled
                      workforce that can leverage technology to fuel success.
                      General Assembly’s robust suite of courses includes all
                      the fundamental pillars of innovation to give individuals
                      and teams several options for growth and development. We
                      offer programs in web development, data science and
                      analysis, user experience design, digital marketing,
                      product management, and more. Students can choose from a
                      range of formats and modalities to help them best achieve
                      their goals, including full-time, part-time, and
                      short-form options — on campus, and online.
                    </p>
                  </div>
                </div>
                <div class="about-content__item">
                  <div class="item">
                    <h3 class="item-title h5 f-bold">We Adapt to the Market</h3>
                    <p class="item-desc">
                      Today’s complex, global economy requires a skilled
                      workforce that can leverage technology to fuel success.
                      General Assembly’s robust suite of courses includes all
                      the fundamental pillars of innovation to give individuals
                      and teams several options for growth and development. We
                      offer programs in web development, data science and
                      analysis, user experience design, digital marketing,
                      product management, and more. Students can choose from a
                      range of formats and modalities to help them best achieve
                      their goals, including full-time, part-time, and
                      short-form options — on campus, and online.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="about-single">
            <div class="about-list">
              <div class="about-list__head ta-center">
                <h2 class="about-list__title h5 f-bold">
                  Building Innovative Courses With Proven Results
                </h2>
              </div>
              <div class="about-list__wrap">
                <div class="about-list__item">
                  <div class="row gy-1">
                    <div class="col-image">
                      <div class="item-image">
                        <div class="img-inner load-img">
                          <a href="">
                            <img src="./img/image-1.jpg" alt="" />
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-content">
                      <div class="item-content">
                        <h4
                          class="item-title h5 f-bold has-underline item-scroll"
                        >
                          <a href="">
                            We Offer Training in Tech, Data, Design, Business,
                            and More
                          </a>
                        </h4>
                        <p class="item-desc">
                          Today’s complex, global economy requires a skilled
                          workforce that can leverage technology to fuel
                          success. General Assembly’s robust suite of courses
                          includes all the fundamental pillars of innovation to
                          give individuals and teams several options for growth
                          and development. We offer programs in web development,
                          data science and analysis, user experience design,
                          digital marketing, product management, and more.
                          Students can choose from a range of formats and
                          modalities to help them best achieve their goals,
                          including full-time, part-time, and short-form options
                          — on campus, and online.
                        </p>
                        <div class="button-place">
                          <a href="" class="btn-main btn-outline">
                            Xem toàn bộ khóa học
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="about-list__item">
                  <div class="row gy-1">
                    <div class="col-image">
                      <div class="item-image">
                        <div class="img-inner load-img">
                          <a href="">
                            <img src="./img/image-1.jpg" alt="" />
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-content">
                      <div class="item-content">
                        <h4
                          class="item-title h5 f-bold has-underline item-scroll"
                        >
                          <a href="">
                            We Offer Training in Tech, Data, Design, Business,
                            and More
                          </a>
                        </h4>
                        <p class="item-desc">
                          Today’s complex, global economy requires a skilled
                          workforce that can leverage technology to fuel
                          success. General Assembly’s robust suite of courses
                          includes all the fundamental pillars of innovation to
                          give individuals and teams several options for growth
                          and development. We offer programs in web development,
                          data science and analysis, user experience design,
                          digital marketing, product management, and more.
                          Students can choose from a range of formats and
                          modalities to help them best achieve their goals,
                          including full-time, part-time, and short-form options
                          — on campus, and online.
                        </p>
                        <div class="button-place">
                          <a href="" class="btn-main btn-outline">
                            Xem toàn bộ khóa học
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="about-single">
            <div class="about-range">
              <div class="about-range__head ta-center">
                <div class="title h3 heading">
                  A Range of Learning Paths to Match Your Goals
                </div>
              </div>
              <div class="about-range__list">
                <div class="row gy-2">
                  <div class="col-6">
                    <div class="item">
                      <div class="item-image">
                        <img src="./img/tutorials.png" alt="" />
                      </div>
                      <div class="item-content">
                        <h3 class="item-title has-underline h5 f-bold">
                          Career-Changing, Full-Time
                        </h3>
                        <p class="item-desc">
                          Advance your career with GA's rigorous, full-time
                          Immersive programs and skilled career coaches.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="item">
                      <div class="item-image">
                        <img src="./img/verified.png" alt="" />
                      </div>
                      <div class="item-content">
                        <h3 class="item-title has-underline h5 f-bold">
                          Skill-Boosting, Part-Time
                        </h3>
                        <p class="item-desc">
                          Stay competitive and relevant with focused, flexible
                          learning and dedicated mentors.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="item">
                      <div class="item-image">
                        <img src="./img/chat.png" alt="" />
                      </div>
                      <div class="item-content">
                        <h3 class="item-title has-underline h5 f-bold">
                          Classes, Workshops, Events
                        </h3>
                        <p class="item-desc">
                          Advance your career with GA's rigorous, full-time
                          Immersive programs and skilled career coaches.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="item">
                      <div class="item-image">
                        <img src="./img/livestreams.png" alt="" />
                      </div>
                      <div class="item-content">
                        <h3 class="item-title has-underline h5 f-bold">
                          Learn Offline and Online
                        </h3>
                        <p class="item-desc">
                          Leverage robust learning tools, expert instructors,
                          and a supportive community at each step.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="about-single">
            <div class="about-employees">
              <div class="about-employees__head">
                <div class="title h5 f-bold has-linethrough">
                  <span class="text"
                    >Top Businesses Invest In Their Employees By Sponsoring
                    Their GA Education</span
                  >
                </div>
              </div>
              <div class="about-employees__list">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src="./img/logo-crisp.png" alt="" />
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/logo-asana.png" alt="" />
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/logo-appbot.png" alt="" />
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/logo-anima.png" alt="" />
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/logo-adobe.png" alt="" />
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/logo-crisp.png" alt="" />
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/logo-asana.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>

      <!-- TESTIMONIAL -->
      <section class="testimonial">
        <div class="container">
          <div class="testimonial-slider">
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="test-box">
                    <div class="test-img" data-swiper-parallax="-900">
                      <img src="./img/avatar-8.jpg" alt="" />
                    </div>
                    <blockquote class="test-content">
                      <p class="test-desc" data-swiper-parallax="-1200">
                        “The best part about General Assembly was the Outcomes
                        team. The Outcomes program is superb. Within a couple
                        weeks I had two job offers, and the third of which I
                        accepted the next week."
                      </p>
                      <div class="by body-13" data-swiper-parallax="-1500">
                        <cite
                          >Jesson Foo, Web Development Immersive graduate, Los
                          Angeles</cite
                        >
                      </div>
                    </blockquote>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="test-box">
                    <div class="test-img" data-swiper-parallax="-900">
                      <img src="./img/avatar-8.jpg" alt="" />
                    </div>
                    <blockquote class="test-content">
                      <p class="test-desc" data-swiper-parallax="-1200">
                        “The best part about General Assembly was the Outcomes
                        team. The Outcomes program is superb. Within a couple
                        weeks I had two job offers, and the third of which I
                        accepted the next week."
                      </p>
                      <div class="by body-13" data-swiper-parallax="-1500">
                        <cite
                          >Jesson Foo, Web Development Immersive graduate, Los
                          Angeles</cite
                        >
                      </div>
                    </blockquote>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="test-box">
                    <div class="test-img" data-swiper-parallax="-900">
                      <img src="./img/avatar-8.jpg" alt="" />
                    </div>
                    <blockquote class="test-content">
                      <p class="test-desc" data-swiper-parallax="-1200">
                        “The best part about General Assembly was the Outcomes
                        team. The Outcomes program is superb. Within a couple
                        weeks I had two job offers, and the third of which I
                        accepted the next week."
                      </p>
                      <div class="by body-13" data-swiper-parallax="-1500">
                        <cite
                          >Jesson Foo, Web Development Immersive graduate, Los
                          Angeles</cite
                        >
                      </div>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ABOUT -->
      <section class="about py-sc">
        <div class="container">
          <section class="about-single">
            <div class="about-content">
              <div class="about-content__head">
                <h2 class="about-content__title h4 f-bold">
                  What Makes Coding Mentor Exceptional?
                </h2>
              </div>
              <div class="about-content__list mt-10">
                <div class="about-content__item">
                  <div class="item">
                    <h3 class="item-title h5 f-bold">
                      We Offer Training in Tech, Data, Design, Business, and
                      More
                    </h3>
                    <p class="item-desc">
                      Today’s complex, global economy requires a skilled
                      workforce that can leverage technology to fuel success.
                      General Assembly’s robust suite of courses includes all
                      the fundamental pillars of innovation to give individuals
                      and teams several options for growth and development. We
                      offer programs in web development, data science and
                      analysis, user experience design, digital marketing,
                      product management, and more. Students can choose from a
                      range of formats and modalities to help them best achieve
                      their goals, including full-time, part-time, and
                      short-form options — on campus, and online.
                    </p>
                  </div>
                </div>
                <div class="about-content__item">
                  <div class="item">
                    <h3 class="item-title h5 f-bold">
                      We Have a Vast Global Network
                    </h3>
                    <p class="item-desc">
                      Today’s complex, global economy requires a skilled
                      workforce that can leverage technology to fuel success.
                      General Assembly’s robust suite of courses includes all
                      the fundamental pillars of innovation to give individuals
                      and teams several options for growth and development. We
                      offer programs in web development, data science and
                      analysis, user experience design, digital marketing,
                      product management, and more. Students can choose from a
                      range of formats and modalities to help them best achieve
                      their goals, including full-time, part-time, and
                      short-form options — on campus, and online.
                    </p>
                  </div>
                </div>
                <div class="about-content__item">
                  <div class="item">
                    <h3 class="item-title h5 f-bold">We Adapt to the Market</h3>
                    <p class="item-desc">
                      Today’s complex, global economy requires a skilled
                      workforce that can leverage technology to fuel success.
                      General Assembly’s robust suite of courses includes all
                      the fundamental pillars of innovation to give individuals
                      and teams several options for growth and development. We
                      offer programs in web development, data science and
                      analysis, user experience design, digital marketing,
                      product management, and more. Students can choose from a
                      range of formats and modalities to help them best achieve
                      their goals, including full-time, part-time, and
                      short-form options — on campus, and online.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="about-single">
            <div class="about-range">
              <div class="about-range__head ta-center">
                <div class="title h3 heading">
                  A Range of Learning Paths to Match Your Goals
                </div>
              </div>
              <div class="about-range__list">
                <div class="row gy-2">
                  <div class="col-6">
                    <div class="item">
                      <div class="item-image">
                        <img src="./img/profile.png" alt="" />
                      </div>
                      <div class="item-content">
                        <h3 class="item-title has-underline h5 f-bold">
                          Connect With Alumni
                        </h3>
                        <p class="item-desc">
                          More than 40,000 talented professionals have graduated from our full- and part-time courses.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="item">
                      <div class="item-image">
                        <img src="./img/globe-location.png" alt="" />
                      </div>
                      <div class="item-content">
                        <h3 class="item-title has-underline h5 f-bold">
                          Vast Global Reach
                        </h3>
                        <p class="item-desc">
                          Where you are, we are. Forge relationships online or at 20 global locations from NYC to Singapore.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="item">
                      <div class="item-image">
                        <img src="./img/suitcase.png" alt="" />
                      </div>
                      <div class="item-content">
                        <h3 class="item-title has-underline h5 f-bold">
                          Exclusive Employer Insight
                        </h3>
                        <p class="item-desc">
                          GA has over 10,000 hiring partners and has trained thousands of Fortune 500 employees.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="item">
                      <div class="item-image">
                        <img src="./img/crown.png" alt="" />
                      </div>
                      <div class="item-content">
                        <h3 class="item-title has-underline h5 f-bold">
                          Access to A-list Leaders
                        </h3>
                        <p class="item-desc">
                          350,000+ have attended exclusive events featuring visionaries like Richard Branson and Tim Ferriss.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="about-single">
            <div class="about-employees">
              <div class="about-employees__head">
                <div class="title h5 f-bold has-linethrough">
                  <span class="text"
                    >Top Businesses Invest In Their Employees By Sponsoring
                    Their GA Education</span
                  >
                </div>
              </div>
              <div class="about-employees__list">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src="./img/logo-crisp.png" alt="" />
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/logo-asana.png" alt="" />
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/logo-appbot.png" alt="" />
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/logo-anima.png" alt="" />
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/logo-adobe.png" alt="" />
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/logo-crisp.png" alt="" />
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/logo-asana.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
    </main>

    <!-- POPUP -->
    <div class="popup booking-form book">
      <div class="container">
        <div class="popup-content">
          <div class="popup-close">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- BACK TO TOP -->

    <div class="progress-wrap">
      <div class="up">
        <iconify-icon icon="ci:chevron-big-up"></iconify-icon>
      </div>
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <!-- FOOTER -->
    <footer class="footer">
      <div class="container">
        <div class="footer-row">
          <div class="row gy-1">
            <div class="col-wrap col-4-md col-12">
              <div class="footer-col">
                <h3 class="footer-logo">
                  <a href="./"><img src="./img/logo-ft.png" alt="" /></a>
                </h3>
                <div class="footer-col-row">
                  <div class="row">
                    <div class="col-wrap col-4">
                      <div class="copyright">
                        <p>
                          Copyright © <br />
                          2022 Coding <br />
                          Mentor
                        </p>
                      </div>
                    </div>
                    <div class="col-wrap col-4">
                      <a href="" class="link">GDPR</a>
                    </div>
                    <div class="col-wrap col-4">
                      <a href="" class="link">Privacy Policy</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-wrap col-4-md col-6-xs">
              <div class="footer-col">
                <div class="footer-title h4 f-bold">Các khoá học Intesive</div>
                <ul class="footer-links">
                  <li>
                    <a href="" class="footer-link" title="Front-end Intensive"
                      >Front-end Intensive</a
                    >
                  </li>
                  <li>
                    <a href="" class="footer-link" title="Data Intensive"
                      >Data Intensive</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-wrap col-4-md col-6-xs">
              <div class="footer-col">
                <div class="footer-chat">
                  <a href="" class="btn-chat">
                    <span class="icon">
                      <iconify-icon icon="bi:chat-dots-fill"></iconify-icon>
                    </span>
                    Live chat with us
                  </a>
                </div>
                <div class="footer-newsletter">
                  <div class="newsletter">
                    <div class="newsletter-title h5 f-bold">
                      Join our newsletter
                    </div>
                    <p class="newsletter-desc">
                      Get more from our valuable resources
                    </p>
                    <div class="newsletter-form">
                      <div class="form-wrapper">
                        <form action="">
                          <button type="submit" class="form-submit">
                            <img src="./img/icon-account.png" alt="" />
                          </button>
                          <fieldset class="form-field">
                            <input
                              type="text"
                              class="form-ctr"
                              placeholder="Email address"
                            />
                          </fieldset>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-col-row --mobile">
              <div class="col-wrap">
                <div class="copyright">
                  <p>Copyright © 2022 Coding Mentor</p>
                </div>
              </div>
              <div class="row-wrap">
                <div class="col-wrap">
                  <a href="" class="link">GDPR</a>
                </div>
                <div class="col-wrap">
                  <a href="" class="link">Privacy Policy</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="dest/jsmain.min.js"></script>
    <script src="js/libs/import/gsap.js"></script>
    <script src="js/libs/iconify.min.js"></script>
    <script src="js/libs/import/swiper.min.js"></script>
    <script type="module" src="dest/main.js"></script>
  </body>
</html>
