<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Course - Detail - Sub</title>
    <link rel="icon" href="favicon.ico" />
    <meta name="title" content="" />
    <meta name="description" content="" />

    <!-- meta facebook -->
    <meta property="og:locale" content="vi" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:image" content="" />

    <link rel="stylesheet" href="dest/style.min.css" />
    <link rel="stylesheet" href="css/backdoor.css" />
    <link rel="stylesheet" href="dest/fonts.css" />
  </head>

  <body>
    <!-- HEADER -->
    <header class="header flex-center">
      <div class="container-fluid">
        <div class="header-wrap flex-center-between">
          <div class="header-toggle toggle-menu">
            <div class="ham bg-white flex-center flex-column">
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="header-main-wrap container">
            <div class="header-main flex ai-center">
              <div class="header-logo">
                <div class="logo-box">
                  <a href="" title="Logo CodingMentor">
                    <img src="./img/logo.png" alt="" />
                  </a>
                </div>
              </div>
              <div class="header-menu">
                <nav class="menu">
                  <ul class="menu-list">
                    <li class="menu-item parent dropdown current-menu-item">
                      <a href="" class="menu-link" title="COURSES"
                        >COURSES

                        <span class="dropdown-icon">
                          <iconify-icon
                            icon="charm:chevron-down"
                          ></iconify-icon>
                        </span>
                      </a>
                      <ul class="submenu">
                        <li class="submenu-item menu-item">
                          <a href="" class="menu-link" title="COURSES 2"
                            >COURSES 2</a
                          >
                        </li>
                        <li class="submenu-item menu-item parent dropdown">
                          <a href="" class="menu-link" title="COURSES 1"
                            >COURSES 1
                            <span class="dropdown-icon">
                              <iconify-icon
                                icon="charm:chevron-down"
                              ></iconify-icon> </span
                          ></a>
                          <ul class="submenu">
                            <li class="submenu-item menu-item">
                              <a href="" class="menu-link" title="COURSES 1"
                                >COURSES 1 ></a
                              >
                            </li>
                            <li class="submenu-item menu-item">
                              <a href="" class="menu-link" title="COURSES 2"
                                >COURSES 2</a
                              >
                            </li>
                            <li class="submenu-item menu-item">
                              <a href="" class="menu-link" title="COURSES 3"
                                >COURSES 3</a
                              >
                            </li>
                          </ul>
                        </li>

                        <li class="submenu-item menu-item">
                          <a href="" class="menu-link" title="COURSES 3"
                            >COURSES 3</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item">
                      <a href="" class="menu-link" title="EVENTS">EVENTS</a>
                    </li>
                    <li class="menu-item">
                      <a href="" class="menu-link" title="BLOG">BLOG</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="header-cta">
                <a href="" class="btn-main btn-signin" title="Sign In"
                  >Sign In</a
                >
              </div>
            </div>
          </div>
          <div class="header-lang">
            <div class="lang">
              <div class="lang-current toggle-lang">
                <a href="" class="lang-item flex ai-center">
                  <span class="lang-img"
                    ><img src="./img/flag-vn.jpg" alt=""
                  /></span>
                </a>
              </div>
              <div class="lang-dropdown toggle-lang-list">
                <div class="lang-close close-square close-lang-js">
                  <div class="close">
                    <span></span>
                    <span></span>
                  </div>
                </div>
                <div class="lang-list">
                  <a href="" class="lang-item flex ai-center">
                    <span class="lang-img"
                      ><img src="./img/flag-vn.jpg" alt=""
                    /></span>
                    <span class="lang-text">Vietnamese</span>
                  </a>
                  <a href="" class="lang-item flex ai-center">
                    <span class="lang-img"
                      ><img src="./img/flag-usa.jpg" alt=""
                    /></span>
                    <span class="lang-text">English</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- SIDE BOX -->
    <div class="sidebox nav-side">
      <div class="sidebox-wrap">
        <div class="container">
          <div class="sidebox-row row jc-between">
            <div class="col-6-md">
              <nav class="sidebox-nav bg-white">
                <div class="sidebox-nav__header">
                  <div class="close-square close-menu">
                    <div class="close">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                </div>
                <div class="sidebox-nav__content">
                  <div class="row">
                    <div class="col-wrap col-6-xs">
                      <div class="sidebox-nav__menu">
                        <div class="menu-main menu">
                          <ul class="menu-main__list menu-list">
                            <li
                              class="menu-main__item menu-item current-menu-item parent dropdown"
                            >
                              <a href="" class="menu-main__link menu-link"
                                >Courses
                                <span class="dropdown-icon expand-icon">
                                  <iconify-icon
                                    icon="entypo:chevron-down"
                                  ></iconify-icon>
                                </span>
                              </a>
                              <ul class="submenu">
                                <li class="menu-item">
                                  <a href="" class="menu-link submenu-link"
                                    >Courses1</a
                                  >
                                </li>
                                <li class="menu-item">
                                  <a href="" class="menu-link submenu-link"
                                    >Courses2</a
                                  >
                                </li>
                                <li class="menu-item">
                                  <a href="" class="menu-link submenu-link"
                                    >Courses2</a
                                  >
                                </li>
                              </ul>
                            </li>
                            <li class="menu-main__item menu-item">
                              <a href="" class="menu-main__link menu-link"
                                >Event</a
                              >
                            </li>
                            <li class="menu-main__item menu-item">
                              <a href="" class="menu-main__link menu-link"
                                >Blogs</a
                              >
                            </li>
                          </ul>
                        </div>
                        <div class="menu-sub menu">
                          <ul class="menu-sub__list menu-list">
                            <li class="menu-sub__item menu-item">
                              <a href="" class="menu-sub__link menu-link"
                                >Homepage</a
                              >
                            </li>
                            <li class="menu-sub__item menu-item">
                              <a href="" class="menu-sub__link menu-link"
                                >About Coding Mentor</a
                              >
                            </li>
                            <li class="menu-sub__item menu-item">
                              <a href="" class="menu-sub__link menu-link"
                                >Our Mentor</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-wrap col-6-xs">
                      <div class="sidebox-nav__img">
                        <img src="./img/man-like.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
            <div class="col-4-lg col-5-md offset-1-md">
              <div class="sidebox-acc">
                <div class="sidebox-acc__header flex ai-center jc-end">
                  <div class="icon">
                    <img src="./img/star.png" alt="" />
                  </div>
                  <div class="title h5 f-mb">Feature Mentor</div>
                </div>
                <div class="sidebox-acc__content">
                  <div class="sidebox-acc__card">
                    <figure class="card-box">
                      <div class="card-box__thumb">
                        <div class="img-inner">
                          <a href="">
                            <img src="./img/avatar-8.jpg" alt="" />
                          </a>
                        </div>
                      </div>
                      <figcaption class="card-box__content">
                        <div class="name"><a href="">Luân Nguyễn</a></div>
                        <div class="meta">Designer and coder</div>
                        <p class="desc">
                          I teach designers code and developers design.
                        </p>
                        <div class="social">
                          <a href="" class="social-link">
                            <img src="./img/logo-fb.png" alt="" />
                          </a>
                          <a href="" class="social-link">
                            <img src="./img/logo-web.png" alt="" />
                          </a>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <div class="sidebox-acc__footer">
                  <div class="sidebox-acc__course">
                    <div class="course-box">
                      <div class="course-box__header">
                        <a href="" class="course-box__logo">
                          <img src="./img/logo-vue.png" alt="" />
                        </a>
                        <div class="course-box__content">
                          <div class="course-box__title h5 f-bold">
                            <p class="title">
                              <a href="">Backend Intensive</a>
                            </p>
                          </div>
                          <div class="mentor">Mentor: Mr.X</div>
                        </div>
                      </div>
                      <div class="course-box__button">
                        <a href="" class="btn-main">Get Started for Free</a>
                        <div class="enrolled">
                          <p>20/30 enrolled</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MAIN -->
    <main class="course-detail-sub-page">
      <!-- COURSE DETAIL -->
      <section class="course-detail --sub pt-sc-sm pb-sc">
        <div class="sub-wrap">
          <div class="container">
            <div class="sub-row row">
              <div class="sub-col col-left">
                <div class="sub-head">
                  <!-- OVERVIEW -->
                  <div class="course-detail__overview">
                    <div class="overview">
                      <div class="overview-content" data-aos="fade-up">
                        <div class="overview-textbox">
                          <h2 class="overview-title h3 heading">
                            Backend Intensive
                          </h2>
                          <p class="overview-desc mt-2">
                            Con đường ngắn nhất cho những bạn có mục tiêu trở
                            thành một Data Analyst trong thời gian sớm nhất
                          </p>
                        </div>
                        <div class="overview-info mt-4">
                          <div class="overview-mentor mt-4">
                            <div class="mentor flex ai-center">
                              <div class="mentor-avt">
                                <img src="./img/avatar-1.jpg" alt="" />
                              </div>
                              <div class="mentor-by">
                                created by
                                <a href="" class="name">Mentor: Mr.X</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="hidden-on-tablet">
                    <aside class="aside-course" data-aos="fade-up">
                      <div class="course-detail__overview">
                        <div class="overview">
                          <div class="overview-image">
                            <div class="img-inner">
                              <img src="./img/course-5.jpg" alt="" />
                            </div>
                          </div>
                          <div class="overview-course">
                            <div class="overview-course__price">
                              <div class="price">
                                <ins class="price-ins heading h3"
                                  >5,800,000 VND</ins
                                >
                                <del class="price-del h4">7,800,000 VND</del>
                              </div>
                            </div>
                            <div class="overview-count">
                              <div class="count">1 day left early bird</div>
                            </div>
                            <div class="overview-course__enroll mt-3">
                              <a
                                href=""
                                class="btn-gradient"
                                title="Enroll this course"
                              >
                                Enroll this course
                              </a>
                            </div>
                            <div class="overview-course__desc mt-3">
                              <p class="desc">
                                Con đường ngắn nhất cho những bạn có mục tiêu
                                trở thành một Data Analyst trong thời gian sớm
                                nhất
                              </p>
                            </div>
                            <div class="overview-course__detail mt-3">
                              <div class="label f-bold">Khóa học bao gồm</div>
                              <ul class="list mt-3">
                                <li class="li">
                                  <div class="li-icon">
                                    <img src="./img/icon-book.png" alt="" />
                                  </div>
                                  <div class="li-text">30 free tutorials</div>
                                </li>
                                <li class="li">
                                  <div class="li-icon">
                                    <img src="./img/icon-code.png" alt="" />
                                  </div>
                                  <div class="li-text">Videos, PDF, files</div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </aside>
                  </div>
                  <section class="course-detail__info">
                    <div class="info">
                      <div class="info-content">
                        <div class="info-content-box">
                          <div
                            class="info-content__title h4 f-bold"
                            data-aos="fade-down"
                          >
                            Bạn sẽ học được gì trong khóa học này:
                          </div>
                          <div class="info-content__list mt-6">
                            <div class="row gy-1">
                              <div
                                class="col-4-md"
                                data-aos="fade-up"
                                data-aos-delay="100"
                              >
                                <div class="item">
                                  <div class="item-img">
                                    <img src="./img/htm-img.png" alt="" />
                                  </div>
                                  <div class="item-content mt-3">
                                    <div
                                      class="item-title text-gradient f-bold h5"
                                    >
                                      HTML cơ bản
                                    </div>
                                    <p class="item-desc">
                                      You want to change your career to a more
                                      dynamic, exciting field where you can also
                                      get a better payroll.
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-4-md"
                                data-aos="fade-up"
                                data-aos-delay="200"
                              >
                                <div class="item">
                                  <div class="item-img">
                                    <img src="./img/react-img.png" alt="" />
                                  </div>
                                  <div class="item-content mt-3">
                                    <div
                                      class="item-title text-gradient f-bold h5"
                                    >
                                      Quản lí Data
                                    </div>
                                    <p class="item-desc">
                                      It’s always better to have more, to know
                                      more and Coding Mentor is here to help you
                                      master more skill which could benefit you
                                      in your current career.
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-4-md"
                                data-aos="fade-up"
                                data-aos-delay="300"
                              >
                                <div class="item">
                                  <div class="item-img">
                                    <img src="./img/code-img.png" alt="" />
                                  </div>
                                  <div class="item-content mt-3">
                                    <div
                                      class="item-title text-gradient f-bold h5"
                                    >
                                      Ngôn ngữ mới
                                    </div>
                                    <p class="item-desc">
                                      It’s always better to have more, to know
                                      more and Coding Mentor is here to help you
                                      master more skill which could benefit you
                                      in your current career.
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
                <div class="sub-bot">
                  <!-- INFO -->
                  <section class="course-detail__info">
                    <div class="info">
                      <div class="info-content">
                        <div class="info-content-box">
                          <div
                            class="info-content__title h4 f-bold"
                            data-aos="fade-down"
                          >
                            Khóa học thử nghiệm
                          </div>
                          <div
                            class="info-content__overview"
                            data-aos="fade-up"
                          >
                            <div class="overview-content">
                              <div class="textbox">
                                <p class="desc">
                                  <span class="label">Learning Method:</span>
                                  Online
                                </p>
                                <p class="desc">
                                  <span class="label">Learning Support:</span>
                                  1-on-1 with a Mentor, 24/7 Community support
                                </p>
                                <p class="desc">
                                  <span class="label">Length:</span> Part-time 6
                                  months
                                </p>
                                <p class="desc">
                                  <span class="label">Outcome:</span> Job
                                  guarantee with a starting salary of 12,000,000
                                  VND after graduation
                                </p>
                              </div>
                              <div class="button-place mt-6">
                                <a href="" class="btn" title="Get free course">
                                  <span class="text">Get free course</span>
                                </a>
                                <a
                                  href=""
                                  class="btn"
                                  title="Download Curriculum"
                                >
                                  <span class="text">Download Curriculum</span>
                                </a>
                              </div>
                            </div>
                            <div class="overview-image">
                              <div class="polygon polygon-rotate">
                                <img src="./img/polygon-will-get.png" alt="" />
                              </div>
                              <div class="img-man">
                                <img src="./img/man-like.png" alt="" />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="info-content-box">
                          <div
                            class="info-content__title h4 f-bold"
                            data-aos="fade-down"
                          >
                            Khóa học thử nghiệm
                          </div>
                          <div class="info-content__mentor" data-aos="fade-up">
                            <div class="mentor">
                              <div class="mentor-card">
                                <figure class="card-box">
                                  <div class="card-box__thumb">
                                    <div class="img-inner">
                                      <a href="">
                                        <img src="./img/avatar-8.jpg" alt="" />
                                      </a>
                                    </div>
                                  </div>
                                  <figcaption class="card-box__content">
                                    <div class="name">
                                      <a href="">Luân Nguyễn</a>
                                    </div>
                                    <div class="meta">Designer and coder</div>

                                    <div class="social">
                                      <a href="" class="social-link">
                                        <img src="./img/logo-fb.png" alt="" />
                                      </a>
                                      <a href="" class="social-link">
                                        <img src="./img/logo-web.png" alt="" />
                                      </a>
                                    </div>
                                  </figcaption>
                                </figure>
                              </div>
                              <div class="mentor-about">
                                <p class="desc">
                                  Avinash Jain is currently a senior at UC
                                  Berkeley majoring in Electrical Engineering
                                  and Computer Science. He's the CEO and Founder
                                  of TheCodex, an online educational platform
                                  focused on bringing the best programming
                                  content to hundreds of thousands of students
                                  around the world.
                                </p>
                                <div class="enrolled">
                                  <div class="enrolled-item flex ai-center">
                                    <div class="icon">
                                      <img
                                        src="./img/icon-profile.png"
                                        alt=""
                                      />
                                    </div>
                                    <p class="text">
                                      234 học sinh đăng ký khóa
                                    </p>
                                  </div>
                                  <div class="enrolled-item flex ai-center">
                                    <div class="icon">
                                      <img
                                        src="./img/icon-ticket-star.png"
                                        alt=""
                                      />
                                    </div>
                                    <p class="text">2 khóa học</p>
                                  </div>
                                </div>
                                <div class="button-place">
                                  <a
                                    href=""
                                    class="btn-gradient"
                                    title="Liên hệ tư vấn"
                                    >Liên hệ tư vấn</a
                                  >
                                  <a
                                    href=""
                                    class="btn-course-list"
                                    title="Xem danh sách khóa học"
                                  >
                                    Xem danh sách khóa học
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="info-content-box">
                          <div
                            class="info-content__title h4 f-bold"
                            data-aos="fade-down"
                          >
                            Student Feedback
                          </div>
                          <div
                            class="info-content__feedback"
                            data-aos="fade-up"
                          >
                            <div class="feedback">
                              <div class="feedback-form">
                                <div class="form-wrapper">
                                  <form action="">
                                    <div class="form-gr">
                                      <div class="form-avt avatar">
                                        <img
                                          src="./img/icon-avatar.png"
                                          alt=""
                                        />
                                      </div>
                                      <div class="form-field">
                                        <input
                                          type="text"
                                          class="form-ctr"
                                          placeholder="Nhập bình luận..."
                                        />
                                        <input
                                          type="submit"
                                          value="Gửi"
                                          class="form-submit"
                                        />
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                              <div class="feedback-review mt-6">
                                <div class="review">
                                  <div class="review-item">
                                    <div class="review-avt avatar">
                                      <img src="./img/icon-avatar.png" alt="" />
                                    </div>
                                    <div class="review-about">
                                      <div class="review-detail">
                                        <p class="name">Ngô Tùng Đạt</p>
                                        <div class="time">vừa xong</div>
                                      </div>
                                      <div class="review-content">
                                        <p class="desc">
                                          Cảm ơn vì đã đăng bài!
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="review-item">
                                    <div class="review-avt avatar">
                                      <img src="./img/icon-avatar.png" alt="" />
                                    </div>
                                    <div class="review-about">
                                      <div class="review-detail">
                                        <p class="name">Ngô Tùng Đạt</p>
                                        <div class="time">vừa xong</div>
                                      </div>
                                      <div class="review-content">
                                        <p class="desc">
                                          Humilde opinião. Você brasileiro que
                                          não sabe nada de inglês, esse curso
                                          talvez não seja para você. Você que já
                                          entende um pouco mas não fala, esse
                                          curso COM TODA CERTEZA é para vc. Esse
                                          curso é incrível, me destravou legal.
                                          Eu não falava nada e agora sou capaz
                                          de manter uma conversa. Gente, sério.
                                          Nunca gostei tanto de um curso como eu
                                          gostei desse.
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
              <div class="sub-col col-right hidden-md">
                <aside class="aside-wrap">
                  <aside class="aside-course" data-aos="fade-up">
                    <div class="course-detail__overview">
                      <div class="overview">
                        <div class="overview-image">
                          <div class="img-inner">
                            <img src="./img/course-5.jpg" alt="" />
                          </div>
                        </div>
                        <div class="overview-course">
                          <div class="overview-course__price">
                            <div class="price">
                              <ins class="price-ins heading h3"
                                >5,800,000 VND</ins
                              >
                              <del class="price-del h4">7,800,000 VND</del>
                            </div>
                          </div>
                          <div class="overview-count">
                            <div class="count">1 day left early bird</div>
                          </div>
                          <div class="overview-course__enroll mt-3">
                            <a
                              href=""
                              class="btn-gradient"
                              title="Enroll this course"
                            >
                              Enroll this course
                            </a>
                          </div>
                          <div class="overview-course__desc mt-3">
                            <p class="desc">
                              Con đường ngắn nhất cho những bạn có mục tiêu trở
                              thành một Data Analyst trong thời gian sớm nhất
                            </p>
                          </div>
                          <div class="overview-course__detail mt-3">
                            <div class="label f-bold">Khóa học bao gồm</div>
                            <ul class="list mt-3">
                              <li class="li">
                                <div class="li-icon">
                                  <img src="./img/icon-book.png" alt="" />
                                </div>
                                <div class="li-text">30 free tutorials</div>
                              </li>
                              <li class="li">
                                <div class="li-icon">
                                  <img src="./img/icon-code.png" alt="" />
                                </div>
                                <div class="li-text">Videos, PDF, files</div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </aside>
                </aside>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- POPUP -->
    <div class="popup booking-form book">
      <div class="container">
        <div class="popup-content">
          <div class="popup-close">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- BACK TO TOP -->

    <div class="progress-wrap">
      <div class="up">
        <iconify-icon icon="ci:chevron-big-up"></iconify-icon>
      </div>
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <!-- FOOTER -->
    <footer class="footer">
      <div class="container">
        <div class="footer-row">
          <div class="row gy-1">
            <div class="col-wrap col-4-md col-12">
              <div class="footer-col">
                <h3 class="footer-logo">
                  <a href="./"><img src="./img/logo-ft.png" alt="" /></a>
                </h3>
                <div class="footer-col-row">
                  <div class="row">
                    <div class="col-wrap col-4">
                      <div class="copyright">
                        <p>
                          Copyright © <br />
                          2022 Coding <br />
                          Mentor
                        </p>
                      </div>
                    </div>
                    <div class="col-wrap col-4">
                      <a href="" class="link">GDPR</a>
                    </div>
                    <div class="col-wrap col-4">
                      <a href="" class="link">Privacy Policy</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-wrap col-4-md col-6-xs">
              <div class="footer-col">
                <div class="footer-title h4 f-bold">Các khoá học Intesive</div>
                <ul class="footer-links">
                  <li>
                    <a href="" class="footer-link" title="Front-end Intensive"
                      >Front-end Intensive</a
                    >
                  </li>
                  <li>
                    <a href="" class="footer-link" title="Data Intensive"
                      >Data Intensive</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-wrap col-4-md col-6-xs">
              <div class="footer-col">
                <div class="footer-chat">
                  <a href="" class="btn-chat">
                    <span class="icon">
                      <iconify-icon icon="bi:chat-dots-fill"></iconify-icon>
                    </span>
                    Live chat with us
                  </a>
                </div>
                <div class="footer-newsletter">
                  <div class="newsletter">
                    <div class="newsletter-title h5 f-bold">
                      Join our newsletter
                    </div>
                    <p class="newsletter-desc">
                      Get more from our valuable resources
                    </p>
                    <div class="newsletter-form">
                      <div class="form-wrapper">
                        <form action="">
                          <button type="submit" class="form-submit">
                            <img src="./img/icon-account.png" alt="" />
                          </button>
                          <fieldset class="form-field">
                            <input
                              type="text"
                              class="form-ctr"
                              placeholder="Email address"
                            />
                          </fieldset>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-col-row --mobile">
              <div class="col-wrap">
                <div class="copyright">
                  <p>Copyright © 2022 Coding Mentor</p>
                </div>
              </div>
              <div class="row-wrap">
                <div class="col-wrap">
                  <a href="" class="link">GDPR</a>
                </div>
                <div class="col-wrap">
                  <a href="" class="link">Privacy Policy</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="dest/jsmain.min.js"></script>
    <script src="js/libs/import/gsap.js"></script>
    <script src="js/libs/iconify.min.js"></script>
    <script src="js/libs/import/swiper.min.js"></script>
    <script type="module" src="dest/main.js"></script>
  </body>
</html>
