<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Course</title>
    <link rel="icon" href="favicon.ico" />
    <meta name="title" content="" />
    <meta name="description" content="" />

    <!-- meta facebook -->
    <meta property="og:locale" content="vi" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:image" content="" />

    <link rel="stylesheet" href="dest/style.min.css" />
    <link rel="stylesheet" href="css/backdoor.css" />
    <link rel="stylesheet" href="dest/fonts.css" />
  </head>

  <body>
    <!-- HEADER -->
    <header class="header flex-center">
      <div class="container-fluid">
        <div class="header-wrap flex-center-between">
          <div class="header-toggle toggle-menu">
            <div class="ham bg-white flex-center flex-column">
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="header-main-wrap container">
            <div class="header-main flex ai-center">
              <div class="header-logo">
                <div class="logo-box">
                  <a href="" title="Logo CodingMentor">
                    <img src="./img/logo.png" alt="" />
                  </a>
                </div>
              </div>
              <div class="header-menu">
                <nav class="menu">
                  <ul class="menu-list">
                    <li class="menu-item parent dropdown current-menu-item">
                      <a href="" class="menu-link" title="COURSES"
                        >COURSES

                        <span class="dropdown-icon">
                          <iconify-icon
                            icon="charm:chevron-down"
                          ></iconify-icon>
                        </span>
                      </a>
                      <ul class="submenu">
                        <li class="submenu-item menu-item">
                          <a href="" class="menu-link" title="COURSES 2"
                            >COURSES 2</a
                          >
                        </li>
                        <li class="submenu-item menu-item parent dropdown">
                          <a href="" class="menu-link" title="COURSES 1"
                            >COURSES 1
                            <span class="dropdown-icon">
                              <iconify-icon
                                icon="charm:chevron-down"
                              ></iconify-icon> </span
                          ></a>
                          <ul class="submenu">
                            <li class="submenu-item menu-item">
                              <a href="" class="menu-link" title="COURSES 1"
                                >COURSES 1 ></a
                              >
                            </li>
                            <li class="submenu-item menu-item">
                              <a href="" class="menu-link" title="COURSES 2"
                                >COURSES 2</a
                              >
                            </li>
                            <li class="submenu-item menu-item">
                              <a href="" class="menu-link" title="COURSES 3"
                                >COURSES 3</a
                              >
                            </li>
                          </ul>
                        </li>

                        <li class="submenu-item menu-item">
                          <a href="" class="menu-link" title="COURSES 3"
                            >COURSES 3</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item">
                      <a href="" class="menu-link" title="EVENTS">EVENTS</a>
                    </li>
                    <li class="menu-item">
                      <a href="" class="menu-link" title="BLOG">BLOG</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="header-cta">
                <a href="" class="btn-main btn-signin" title="Sign In"
                  >Sign In</a
                >
              </div>
            </div>
          </div>
          <div class="header-lang">
            <div class="lang">
              <div class="lang-current toggle-lang">
                <a href="" class="lang-item flex ai-center">
                  <span class="lang-img"
                    ><img src="./img/flag-vn.jpg" alt=""
                  /></span>
                </a>
              </div>
              <div class="lang-dropdown toggle-lang-list">
                <div class="lang-close close-square close-lang-js">
                  <div class="close">
                    <span></span>
                    <span></span>
                  </div>
                </div>
                <div class="lang-list">
                  <a href="" class="lang-item flex ai-center">
                    <span class="lang-img"
                      ><img src="./img/flag-vn.jpg" alt=""
                    /></span>
                    <span class="lang-text">Vietnamese</span>
                  </a>
                  <a href="" class="lang-item flex ai-center">
                    <span class="lang-img"
                      ><img src="./img/flag-usa.jpg" alt=""
                    /></span>
                    <span class="lang-text">English</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- SIDE BOX -->
    <div class="sidebox nav-side">
      <div class="sidebox-wrap">
        <div class="container">
          <div class="sidebox-row row jc-between">
            <div class="col-6-md">
              <nav class="sidebox-nav bg-white">
                <div class="sidebox-nav__header">
                  <div class="close-square close-menu">
                    <div class="close">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                </div>
                <div class="sidebox-nav__content">
                  <div class="row">
                    <div class="col-wrap col-6-xs">
                      <div class="sidebox-nav__menu">
                        <div class="menu-main menu">
                          <ul class="menu-main__list menu-list">
                            <li
                              class="menu-main__item menu-item current-menu-item parent dropdown"
                            >
                              <a href="" class="menu-main__link menu-link"
                                >Courses
                                <span class="dropdown-icon expand-icon">
                                  <iconify-icon
                                    icon="entypo:chevron-down"
                                  ></iconify-icon>
                                </span>
                              </a>
                              <ul class="submenu">
                                <li class="menu-item">
                                  <a href="" class="menu-link submenu-link"
                                    >Courses1</a
                                  >
                                </li>
                                <li class="menu-item">
                                  <a href="" class="menu-link submenu-link"
                                    >Courses2</a
                                  >
                                </li>
                                <li class="menu-item">
                                  <a href="" class="menu-link submenu-link"
                                    >Courses2</a
                                  >
                                </li>
                              </ul>
                            </li>
                            <li class="menu-main__item menu-item">
                              <a href="" class="menu-main__link menu-link"
                                >Event</a
                              >
                            </li>
                            <li class="menu-main__item menu-item">
                              <a href="" class="menu-main__link menu-link"
                                >Blogs</a
                              >
                            </li>
                          </ul>
                        </div>
                        <div class="menu-sub menu">
                          <ul class="menu-sub__list menu-list">
                            <li class="menu-sub__item menu-item">
                              <a href="" class="menu-sub__link menu-link"
                                >Homepage</a
                              >
                            </li>
                            <li class="menu-sub__item menu-item">
                              <a href="" class="menu-sub__link menu-link"
                                >About Coding Mentor</a
                              >
                            </li>
                            <li class="menu-sub__item menu-item">
                              <a href="" class="menu-sub__link menu-link"
                                >Our Mentor</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-wrap col-6-xs">
                      <div class="sidebox-nav__img">
                        <img src="./img/man-like.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
            <div class="col-4-lg col-5-md offset-1-md">
              <div class="sidebox-acc">
                <div class="sidebox-acc__header flex ai-center jc-end">
                  <div class="icon">
                    <img src="./img/star.png" alt="" />
                  </div>
                  <div class="title h5 f-mb">Feature Mentor</div>
                </div>
                <div class="sidebox-acc__content">
                  <div class="sidebox-acc__card">
                    <figure class="card-box">
                      <div class="card-box__thumb">
                        <div class="img-inner">
                          <a href="">
                            <img src="./img/avatar-8.jpg" alt="" />
                          </a>
                        </div>
                      </div>
                      <figcaption class="card-box__content">
                        <div class="name"><a href="">Luân Nguyễn</a></div>
                        <div class="meta">Designer and coder</div>
                        <p class="desc">
                          I teach designers code and developers design.
                        </p>
                        <div class="social">
                          <a href="" class="social-link">
                            <img src="./img/logo-fb.png" alt="" />
                          </a>
                          <a href="" class="social-link">
                            <img src="./img/logo-web.png" alt="" />
                          </a>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <div class="sidebox-acc__footer">
                  <div class="sidebox-acc__course">
                    <div class="course-box">
                      <div class="course-box__header">
                        <a href="" class="course-box__logo">
                          <img src="./img/logo-vue.png" alt="" />
                        </a>
                        <div class="course-box__content">
                          <div class="course-box__title h5 f-bold">
                            <p class="title">
                              <a href="">Backend Intensive</a>
                            </p>
                          </div>
                          <div class="mentor">Mentor: Mr.X</div>
                        </div>
                      </div>
                      <div class="course-box__button">
                        <a href="" class="btn-main">Get Started for Free</a>
                        <div class="enrolled">
                          <p>20/30 enrolled</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MAIN -->
    <main class="course-page">
      <!-- BANNER -->
      <section class="banner-course py-sc-sm">
        <div class="banner-course-wrap">
          <div class="container">
            <div class="banner-course__content">
              <div class="head">
                <h1 class="title heading text-gradient text-ani h1">
                  Learning and getting better
                </h1>
                <a href="" class="btn-gradient" title="100% JOB GUARANTEE"
                  >100% JOB GUARANTEE</a
                >
              </div>
              <div class="textbox">
                <p class="desc f-semi">
                  Learn 1-on-1 with a Mentor. The course for absolute beginners.
                  7-day money-back guarantee.
                </p>
                <div class="button-gr">
                  <a href="" class="btn-main">Get Free Consultant</a>
                  <a href="" class="btn-main">Download our Curriculum</a>
                </div>
              </div>
            </div>
            <div class="banner-course__image">
              <div class="box-wrap">
                <div class="img-man">
                  <img src="./img/man-sitting-table.png" alt="" />
                </div>
                <div class="polygon">
                  <img src="./img/polygon-course.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- COURSE LIST -->
      <section class="course-list">
        <div class="container">
          <div class="course-list__head flex-center-between flex-wrap">
            <div class="list-tab cat-tab">
              <a href="" class="link active">All</a>
              <a href="" class="link">Data</a>
              <a href="" class="link">Front-End</a>
              <a href="" class="link">Back-End</a>
            </div>
            <div class="course-list__select">
              <a href="" class="option active" title="Intensive">Intensive</a>
              <a href="" class="option" title="Fundamental">Fundamental</a>
            </div>
          </div>
          <div class="course-list-main">
            <div class="course-list__single">
              <div class="row gy-1">
                <div class="col-img">
                  <div class="single-img">
                    <div class="img-inner">
                      <img src="./img/course-4.jpg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="col-content">
                  <div class="single-content">
                    <div class="single-title h3 heading">
                      <a href="" title="Backend Intensive">Backend Intensive</a>
                    </div>
                    <div class="single-mentor flex ai-center mt-3">
                      <div class="mentor-avt">
                        <img src="./img/avatar-1.jpg" alt="" />
                      </div>
                      <div class="mentor-name f-bold h5">
                        <a href="">Mentor: Mr.X</a>
                      </div>
                    </div>
                    <p class="single-desc">
                      Con đường ngắn nhất cho những bạn có mục tiêu trở thành
                      một Data Analyst trong thời gian sớm nhất
                    </p>
                    <div class="single-buttons flex ai-center">
                      <a
                        href=""
                        class="btn btn-gradient"
                        title="Enroll this course"
                      >
                        Enroll this course
                      </a>
                      <a href="" class="btn btn-detail" title="View Details"
                        >View Details</a
                      >
                    </div>
                    <div class="single-enrolled flex ai-center mt-4">
                      <div class="enrolled-images">
                        <span class="avt"
                          ><img src="./img/avatar-1.jpg" alt=""
                        /></span>
                        <span class="avt"
                          ><img src="./img/avatar-2.jpg" alt=""
                        /></span>
                        <span class="avt"
                          ><img src="./img/avatar-3.jpg" alt=""
                        /></span>
                      </div>
                      <div class="enrolled-qty">20/30 enrolled</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="course-list__single">
              <div class="row gy-1">
                <div class="col-img">
                  <div class="single-img">
                    <div class="img-inner">
                      <img src="./img/course-4.jpg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="col-content">
                  <div class="single-content">
                    <div class="single-title h3 heading">
                      <a href="" title="Backend Intensive">Backend Intensive</a>
                    </div>
                    <div class="single-mentor flex ai-center mt-3">
                      <div class="mentor-avt">
                        <img src="./img/avatar-1.jpg" alt="" />
                      </div>
                      <div class="mentor-name f-bold h5">
                        <a href="">Mentor: Mr.X</a>
                      </div>
                    </div>
                    <p class="single-desc">
                      Con đường ngắn nhất cho những bạn có mục tiêu trở thành
                      một Data Analyst trong thời gian sớm nhất
                    </p>
                    <div class="single-buttons flex ai-center">
                      <a
                        href=""
                        class="btn btn-gradient"
                        title="Enroll this course"
                      >
                        Enroll this course
                      </a>
                      <a href="" class="btn btn-detail" title="View Details"
                        >View Details</a
                      >
                    </div>
                    <div class="single-enrolled flex ai-center mt-4">
                      <div class="enrolled-images">
                        <span class="avt"
                          ><img src="./img/avatar-1.jpg" alt=""
                        /></span>
                        <span class="avt"
                          ><img src="./img/avatar-2.jpg" alt=""
                        /></span>
                        <span class="avt"
                          ><img src="./img/avatar-3.jpg" alt=""
                        /></span>
                      </div>
                      <div class="enrolled-qty">20/30 enrolled</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination text-center">
            <ul class="page-numbers">
              <li>
                <a class="prev page-numbers" href="">
                  <iconify-icon icon="ooui:previous-ltr"></iconify-icon>
                </a>
              </li>
              <li>
                <span aria-current="page" class="page-numbers current">1</span>
              </li>
              <li><a class="page-numbers" href="">2</a></li>
              <li><a class="page-numbers" href="">3</a></li>
              <li>
                <a class="next page-numbers" href=""
                  ><iconify-icon icon="ooui:previous-rtl"></iconify-icon>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>

    <!-- POPUP -->
    <div class="popup booking-form book">
      <div class="container">
        <div class="popup-content">
          <div class="popup-close">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- BACK TO TOP -->

    <div class="progress-wrap">
      <div class="up">
        <iconify-icon icon="ci:chevron-big-up"></iconify-icon>
      </div>
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <!-- FOOTER -->
    <footer class="footer">
      <div class="container">
        <div class="footer-row">
          <div class="row gy-1">
            <div class="col-wrap col-4-md col-12">
              <div class="footer-col">
                <h3 class="footer-logo">
                  <a href="./"><img src="./img/logo-ft.png" alt="" /></a>
                </h3>
                <div class="footer-col-row">
                  <div class="row">
                    <div class="col-wrap col-4">
                      <div class="copyright">
                        <p>
                          Copyright © <br />
                          2022 Coding <br />
                          Mentor
                        </p>
                      </div>
                    </div>
                    <div class="col-wrap col-4">
                      <a href="" class="link">GDPR</a>
                    </div>
                    <div class="col-wrap col-4">
                      <a href="" class="link">Privacy Policy</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-wrap col-4-md col-6-xs">
              <div class="footer-col">
                <div class="footer-title h4 f-bold">Các khoá học Intesive</div>
                <ul class="footer-links">
                  <li>
                    <a href="" class="footer-link" title="Front-end Intensive"
                      >Front-end Intensive</a
                    >
                  </li>
                  <li>
                    <a href="" class="footer-link" title="Data Intensive"
                      >Data Intensive</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-wrap col-4-md col-6-xs">
              <div class="footer-col">
                <div class="footer-chat">
                  <a href="" class="btn-chat">
                    <span class="icon">
                      <iconify-icon icon="bi:chat-dots-fill"></iconify-icon>
                    </span>
                    Live chat with us
                  </a>
                </div>
                <div class="footer-newsletter">
                  <div class="newsletter">
                    <div class="newsletter-title h5 f-bold">
                      Join our newsletter
                    </div>
                    <p class="newsletter-desc">
                      Get more from our valuable resources
                    </p>
                    <div class="newsletter-form">
                      <div class="form-wrapper">
                        <form action="">
                          <button type="submit" class="form-submit">
                            <img src="./img/icon-account.png" alt="" />
                          </button>
                          <fieldset class="form-field">
                            <input
                              type="text"
                              class="form-ctr"
                              placeholder="Email address"
                            />
                          </fieldset>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-col-row --mobile">
              <div class="col-wrap">
                <div class="copyright">
                  <p>Copyright © 2022 Coding Mentor</p>
                </div>
              </div>
              <div class="row-wrap">
                <div class="col-wrap">
                  <a href="" class="link">GDPR</a>
                </div>
                <div class="col-wrap">
                  <a href="" class="link">Privacy Policy</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="dest/jsmain.min.js"></script>
    <script src="js/libs/import/gsap.js"></script>
    <script src="js/libs/iconify.min.js"></script>
    <script src="js/libs/import/swiper.min.js"></script>
    <script type="module" src="dest/main.js"></script>
  </body>
</html>
